html
{
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

html, body, #map
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after
{
  box-sizing: inherit;
}

body, #map
{
  height: 100%;
}

#map
{
  z-index: 1;
  width: 100%;
}

.settings
{
  display: flex;
  flex-direction: column;
  padding: 2px;
  border-radius: 2px;
  background: rgba(0, 0, 0,0.2);
}

.settings button
{
  margin: 0;
  border: none;
  background-color: #fff;
  line-height: 30px;
  text-align: left;
  pointer-events: auto;
  flex-grow: 1;
}

.settings button:not(:disabled):hover
{
  background-color: #f4f4f4;
  cursor: pointer;
}

.settings button.name
{
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.settings button.location
{
  border-top: 1px solid #ccc;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.settings button.name::after,
.settings button.invite::after,
.settings button.location::after
{
  float: right;
  margin-left: 8px;
  font-size: 18px;
}

.settings button.name::after
{
  content: "👤";
}

.settings button.invite::after
{
  content: "👥";
}

.settings button.location::after
{
  content: "🌐";
}

.leaflet-pane img,
.leaflet-pane .leaflet-tooltip
{
  transition: all 0.3s ease-out;
}

.messaging
{
  display: flex;
  flex-direction: row;
  padding: 2px;
  border-radius: 2px;
  background: rgba(0, 0, 0,0.2);
}

.messaging input[type="submit"]
{
  border-left: 1px solid #ccc;
  background-color: #f4f4f4;
  cursor: pointer;
}

.messaging input
{
  margin: 0;
  border: none;
  line-height: 27px;
}

.messaging input[name="message"]
{
  padding: 0 4px;
  flex-grow: 1;
}

.popup
{
  position: fixed;
  z-index: 2;
  top: 128px;
  left: 40%;
  width: 60%;
  margin-left: calc(-1 * (20% + 4px));
  padding: 2px;
  border-radius: 2px;
  opacity: 0;
  background: rgba(0, 0, 0,0.2);
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  transition: opacity 0.5s 0.1s ease-in;
  pointer-events: none;
}

.popup.show
{
  opacity: 1;
}

.popup > div
{
  padding: 16px;
  color: #111;
  background-color: #fff;
}

.reverse-geo
{
  width: 200px;
  white-space: normal;
}

@media (max-width: 800px)
{
  .popup
  {
    left: 20%;
    width: 80%;
    margin-left: calc(-1 * (10% + 4px));
  }
}

@media (max-width: 480px)
{
  .popup
  {
    left: 8px;
    width: calc(100% - 20px);
    margin-left: 0;
  }
}


@media (max-width: 420px)
{
  .messaging
  {
    transform: translateY(-16px);
  }
}

@media (max-width: 320px)
{
  .messaging input
  {
    width: 108px;
  }
}
